---
layout: index
title: Get3W开发者中心
---

<div class="dev-banner ct-valign-wrapper">
  <div class="__valign ct-mx-auto">
    <img src="assets/images/rocket.png" style="height: 160px;">
    <h4 class="ct-h4 ct-color-white">Leverage the power of Get3w in your app.</h4>
    <h6 class="ct-h6 ct-color-white">Get started with one of our guides, or jump straight into the API documentation.</h6>
    <div class="btns">
      <div class="banner-start">
        <span class="banner-start-command">brew install get3w</span><a class="banner-start-link" href="{{ site.baseurl }}/home.html"><i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="dev-go">
  <div class="ct-container">
    <div class="ct-fl">
      <h3>Join the Get3w Developer Program.</h3>
      <p>
        The best way to integrate with Get3w. Learn more.
      </p>
    </div>
    <div class="ct-fr">
      <a href="{{ site.baseurl }}/home.html" class="ct-btn --blue --large --no-shadow ct-px">Browse the documentation</a>
    </div>
  </div>
</div>

<div class="ct-container">
  <div class="ct-row odds">

    <div class="ct-md-6">
      <div class="odd">
        <div class="icon-panel">
          <i class="fa fa-meh-o"></i>
        </div>
        <div class="text-panel">
          <h5 class="ct-h5">Get Started</h5>
          <p>
            New to the GitHub API? With these guides you’ll be up and running in a snap.
          </p>
        </div>
      </div>
    </div>

    <div class="ct-md-6">
      <div class="odd">
        <div class="icon-panel">
          <i class="fa fa-meh-o"></i>
          <i class="fa fa-apple"></i>
        </div>
        <div class="text-panel">
          <h5 class="ct-h5">Libraries</h5>
          <p>
            We’ve got you covered. Use the GitHub API in your favorite language.
          </p>
        </div>
      </div>
    </div>

    <div class="ct-md-6">
      <div class="odd">
        <div class="icon-panel">
          <i class="fa fa-meh-o"></i>
        </div>
        <div class="text-panel">
          <h5 class="ct-h5">Support</h5>
          <p>
            Are you stuck? Already tried our troubleshooting guide? Talk to a supportocat.
          </p>
        </div>
      </div>
    </div>

    <div class="ct-md-6">
      <div class="odd">
        <div class="icon-panel">
          <i class="fa fa-meh-o"></i>
        </div>
        <div class="text-panel">
          <h5 class="ct-h5">Make the Web Fun Again</h5>
          <p>
            with many formats and is ideal for b creativity
          </p>
        </div>
      </div>
    </div>
{% for post in site.posts %}
{% endfor %}

<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <p>{{ post.excerpt }}</p>
    </li>
  {% endfor %}
</ul>
  </div>
</div>
