<h4>开始使用</h4>
<ul>
  <li>
    <a href="{{ site.baseurl }}home" {% if page.current == 'home' %}class="active"{% endif %}>
      <span>概述</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}installation"{% if page.current == 'installation' %} class="active"{% endif %}>
      <span>安装</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}setup"{% if page.current == 'setup' %} class="active"{% endif %}>
      <span>建站</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}configuration"{% if page.current == 'configuration' %} class="active"{% endif %}>
      <span>配置</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}usage"{% if page.current == 'usage' %} class="active"{% endif %}>
      <span>命令</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}structure"{% if page.current == 'structure' %} class="active"{% endif %}>
      <span>目录结构</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}migrations"{% if page.current == 'migrations' %} class="active"{% endif %}>
      <span>迁移</span>
    </a>
  </li>
</ul>
<h4>基本操作
</h4>
<ul>
  <li>
    <a href="{{ site.baseurl }}frontmatter"{% if page.current == 'frontmatter' %} class="active"{% endif %}>
      <span>头部配置信息</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}posts"{% if page.current == 'posts' %} class="active"{% endif %}>
      <span>文章</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}drafts"{% if page.current == 'drafts' %} class="active"{% endif %}>
      <span>草稿</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}pages"{% if page.current == 'pages' %} class="active"{% endif %}>
      <span>页面</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}static-files"{% if page.current == 'static-files' %} class="active"{% endif %}>
      <span>静态文件</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}variables"{% if page.current == 'variables' %} class="active"{% endif %}>
      <span>变量</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}collections"{% if page.current == 'collections' %} class="active"{% endif %}>
      <span>集合（Collections）</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}datafiles"{% if page.current == 'datafiles' %} class="active"{% endif %}>
      <span>数据文件</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}assets"{% if page.current == 'assets' %} class="active"{% endif %}>
      <span>资源</span>
    </a>
  </li>
</ul>
<h4>自定义</h4>
<ul>
  <li>
    <a href="{{ site.baseurl }}templates"{% if page.current == 'templates' %} class="active"{% endif %}>
      <span>模板</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}permalinks"{% if page.current == 'permalinks' %} class="active"{% endif %}>
      <span>永久链接</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}pagination"{% if page.current == 'pagination' %} class="active"{% endif %}>
      <span>分页功能</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}plugins"{% if page.current == 'plugins' %} class="active"{% endif %}>
      <span>插件</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}highlight"{% if page.current == 'highlight' %} class="active"{% endif %}>
      <span>代码高亮</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}extras"{% if page.current == 'extras' %} class="active"{% endif %}>
      <span>附加功能</span>
    </a>
  </li>
</ul>
